.dashboard-card{
    background:#111827;
    border:1px solid #1E293B;
    border-radius:18px;
    padding:24px;
    display:flex;
    align-items:center;
    gap:18px;
    transition:.3s;
}

.dashboard-card:hover{
    transform:translateY(-6px);
    border-color:#2563EB;
}

.card-icon{
    width:55px;
    height:55px;
    border-radius:14px;
}

.card-content h4{
    margin:0;
    color:#94A3B8;
    font-size:14px;
    font-weight:500;
}

.card-content h2{
    margin-top:8px;
    color:white;
    font-size:28px;
}